.navbar {
  background: rgb(120, 27, 173);
}

.nav-item{
background: rgb(153, 132, 212);
margin-right: 90px;
margin-left: 90px;
border-radius: 39px;
color: rgb(7, 0, 0);
max-width: fit-content;
padding: 30px;
}